<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="zh">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Sunly" />
    <title>首页</title>
    <link href="../../static/home/layui/css/layui.css" th:href="@{~/home/layui/css/layui.css}" rel="stylesheet" type="text/css">
    <link href="../../static/home/font-awesome/css/font-awesome.min.css" th:href="@{~/home/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link href="../../static/home/css/index_style.css" rel="stylesheet" th:href="@{~/home/css/index_style.css}" type="text/css">
    <link href="../../static/home/css/animate.min.css" rel="stylesheet" th:href="@{~/home/css/animate.min.css}" type="text/css">
</head>
<body>
    <div id="menu" class="hover_animation menu_open" data-mark="false">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div id="navgation" class="navgation navgation_close">
        <ul class="point">
            <li><a href="index.html" th:href="@{/home/index}">首页</a></li>
            <li><a href="article.html" th:href="@{/home/article}">博客</a></li>
            <li><a href="message.html" th:href="@{/home/message}">留言</a></li>
            <li><a href="diary.html" th:href="@{/home/diary}">日记</a></li>
        </ul>
        <div class="logo"><a>Sunly</a></div>
    </div>
    <div class="section" id="section1">
        <div class="fp-tablecell">
            <div class="page1">
                <div class="nav wow zoomIn" data-wow-duration="2s">
                    <h1>Sunly's Garden</h1>
                    <p>「这不是你梦寐以求的长大么」</p>
                    <a class="layui-btn layui-btn-normal" style="margin-top: 20px" href="#" th:href="@{/home/article}">进入博客</a>
                </div>
                <a class="next wow fadeInUp" data-wow-duration="2s" id="next"></a>
            </div>
        </div>
    </div>
    <div class="section" id="section2">
        <div class="fp-tablecell">
            <div class="page2">
                <div class="warp-box">
                    <div class="new-article">
                        <div class="inner wow fadeInDown" data-wow-delay=".2s">
                            <h1>热门文章</h1>
                            <p>
                                很想给你写封信,告诉你这里的天气.
                                <br>昨夜的那场电影,还有我的心情.
                            </p>
                        </div>
                    </div>
                    <div id="article-hot" class="layui-row">
                        <div th:each="hotArticle:${hotArticles}" id="row-article-hot" class="layui-col-xs12 layui-col-sm4 layui-col-md4  wow fadeInUp" data-wow-delay=".2s" th:data-wow-delay="${'.' + (hotArticleStat.count-1)*2 + 's'}" style="padding: 0 10px">
                            <div class="single-news">
                                <div class="news-head">
                                    <img src="../../static/home/image/1.jpg" th:src="${hotArticle.avatar}" alt="1">
                                    <a href="read.html" th:href="@{'/home/read/'+${hotArticle.id}}" class="link"><i class="fa fa-link"></i></a>
                                </div>
                                <div class="news-content">
                                    <h4>
                                        <a href="read.html" th:href="@{'/home/read/'+${hotArticle.id}}" th:utext="${hotArticleStat.count}"></a>
                                    </h4>
                                    <div class="date" th:utext="${#dates.format(hotArticle.updateTime, 'yyyy-MM-dd')}">
                                        2020年05月20日
                                    </div>
                                    <p th:utext="${hotArticle.about}">
                                        很想给你写封信,告诉你这里的天气. 昨夜的那场电影,还有我的心情.
                                    </p>
                                    <a href="read.html" th:href="@{'/home/read/'+${hotArticle.id}}" class="btn">
                                        阅读更多
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section3">
        <div class="fp-tablecell">
            <div class="page3">
                <div class="warp-box">
                    <div class="warp">
                        <div class="inner">
                            <div class="links">
                                <ul>
                                    <li class="wow fadeInLeft"><a href="#" th:href="@{/home/about}">关于</a></li>
                                    <li class="wow fadeInRight"><a href="#" th:href="@{/home/link}">+友情链接</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section4">
        <div class="fp-tablecell">
            <div class="page4">
                <div class="warp-box">
                    <div class="about">
                        <div class="inner">
                            <h1 class="wow fadeInLeft">小仙女</h1>
                            <p class="wow fadeInRight">
                                爱好游戏，汉服，喝奶茶。撸起代码废寝忘食。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer wow fadeInUp" id="contact">
        <div class="footer-top">
            <div class="container">
                <div class="layui-row">
                    <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                        <div class="single-widget about">
                            <div class="footer-logo">
                                <h2>小仙女</h2>
                            </div>
                            <p>这不是你梦寐以求的长大么。</p>
                            <div class="button">
                                <a href="#" class="btn layui-btn layui-btn-normal" th:href="@{/home/about}">About Me</a>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                        <div class="single-widget">
                            <h2>相关链接</h2>
                            <ul class="social-icon">
                                <li class="active"><a href="#" th:href="@{/home/article}"><i class="fa fa-book"></i>博文</a></li>
                                <li class="active"><a href="#" th:href="@{/home/message}"><i class="fa fa-comments"></i>留言</a></li>
                                <li class="active"><a href="#" th:href="@{/home/diary}"><i class="fa fa-snowflake-o"></i>日记</a></li>
                                <li class="active"><a href="#" th:href="@{/home/link}"><i class="fa fa-files-o"></i>友链</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md4">
                        <div class="single-widget contact">
                            <h2>联系我</h2>
                            <ul class="list">
                                <li><i class="fa fa-map"></i>地址: xxx</li>
                                <li><i class="fa fa-qq"></i>QQ: xxx </li>
                                <li><i class="fa fa-envelope"></i>邮箱: xxx@qq.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="layui-row">
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 text-center">
                        <p>Copyright &copy; 2021-2031 小仙女 All Rights Reserved V.1.0.0 浙ICP备xxx号</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="../../static/home/layui/layui.js" th:src="@{~/home/layui/layui.js}"></script>
    <script src="../../static/home/js/wow.min.js" th:src="@{~/home/js/wow.min.js}"></script>
    <script src="../../static/home/js/index.js" th:src="@{~/home/js/index.js}"></script>
</body>
</html>